In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('clean_data2.csv')
data

,Unnamed: 0,DATETIMEDATA,PM25,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD
0,0,2024-01-01 00:00:00,30.3,47.0,6.0,0.50,9.00,0.34,0.6,25,92,232.0
1,1,2024-01-01 01:00:00,37.7,65.0,5.0,0.41,5.00,0.34,0.6,25,93,272.0
2,2,2024-01-01 02:00:00,50.9,78.0,9.0,0.29,2.00,0.34,0.6,25,94,248.0
3,3,2024-01-01 03:00:00,45.1,66.0,9.0,0.38,2.00,0.34,0.6,25,93,269.0
4,4,2024-01-01 04:00:00,38.1,59.0,6.0,0.31,7.11,0.34,0.6,25,93,272.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1625,1627,2024-03-08 19:00:00,7.1,27.0,5.0,0.31,10.00,0.34,0.6,29,72,140.0
1626,1628,2024-03-08 20:00:00,7.3,27.0,6.0,0.31,9.00,0.34,0.6,29,73,149.0
1627,1629,2024-03-08 21:00:00,9.3,32.0,3.0,0.48,12.00,0.34,0.6,28,80,199.0
1628,1630,2024-03-08 22:00:00,11.3,32.0,2.0,0.73,11.00,0.34,0.6,27,84,255.0
1629,1631,2024-03-08 23:00:00,16.5,31.0,2.0,0.54,8.00,0.34,0.6,27,84,296.0

In [4]:
from pycaret.regression import *
setup101 = setup(data, target='PM25', session_id = 123)
best_model = compare_models()
tuned = tune_model(best_model)
bagged = ensemble_model(tuned , n_estimators=50)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [5]:
model_en = create_model('en')
save_model(model_en, 'model_en_pipeline')
load_model('model_en_pipeline')
predict_model(model_en)

Transformation Pipeline and Model Successfully Saved
Transformation Pipeline and Model Successfully Loaded

,Unnamed: 0,DATETIMEDATA,PM10,O3,CO,NO2,SO2,WS,TEMP,RH,WD,PM25,prediction_label
1076,1077,2024-02-14 21:00:00,44.0,2.000000,0.94,13.0,0.34,0.6,26,90,283.0,22.400000,19.495889
953,953,2024-02-09 17:00:00,43.0,30.000000,0.29,7.0,1.00,1.0,31,60,109.0,17.100000,19.024101
778,778,2024-02-02 10:00:00,51.0,25.000000,0.20,3.0,0.34,1.0,31,58,111.0,25.299999,22.355730
776,776,2024-02-02 08:00:00,50.0,9.000000,0.56,10.0,0.34,1.0,27,79,268.0,29.900000,21.802486
263,263,2024-01-11 23:00:00,70.0,4.000000,0.39,6.0,0.34,0.6,25,90,262.0,30.400000,29.783758
...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,646,2024-01-27 22:00:00,60.0,12.000000,0.31,8.0,0.34,0.6,25,87,245.0,26.400000,25.886465
1229,1230,2024-02-21 06:00:00,23.0,3.000000,0.31,7.0,0.34,0.6,24,88,246.0,9.300000,12.607507
1158,1159,2024-02-18 07:00:00,42.0,3.000000,0.45,8.0,0.34,0.6,24,88,272.0,13.700000,19.406896
1039,1040,2024-02-13 08:00:00,70.0,16.559999,0.70,17.0,0.34,0.6,28,73,32.0,21.000000,27.414283
1001,1001,2024-02-11 17:00:00,30.0,42.000000,0.28,6.0,1.00,1.0,30,59,126.0,8.300000,14.616973